* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
    font-family: "Lato", sans-serif;
}